* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@mixin value {
    margin: 8px 0;
    border-radius: 4px;

}

h3 {
    padding: 20px;
    text-align: center;
}
.container 
{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding:20px;
  margin: 10px;
  
  input[type=text] {
      width: 100%;
      padding: 12px 20px;
      display: inline-block;
      border: 1px solid #ccc;
      @include value;
     
      
    }
    #search
    {
      width: 100%;
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      border: none;
      cursor: pointer;
      @include value;
    } 
  
}

#movies {
    width: 100%;    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
    

}
// .card {
//     //box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
//     transition: 0.3s;
//     //width: 40%;
//     //@include: 5px;
    
    
//   }
  .card, img {
      padding: 20px;
      //width: 40%;
  }
h5 {
    text-align: center;
}
button {
    width: 8rem;
    background-color: blue;
    color: white;
    text-align: center;
    padding: 5px;
    margin-left: 100px;
}
#anch {
    background-color: skyblue; 
    color: white; 
    padding: 15px 25px;
    
    text-decoration: none;
}
p {
    float: right;
}

      
    
      

